.portfolio{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    .portfolio-all{
        width:84rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        padding-top: 10rem;
    };
};