<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,200&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/extend.css">
<title>Portfolio</title>
</head>
<body>
    <!-- background effects -->
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <!-- backgrounds effects -->
    <!-- nav bar start -->
    <div class="header">
        <div class="nav-logo"></div>
        <div class="nav-bar">
            <div class="nav-menu">
                <div class="menu-li"><div class="i"><i class="fas fa-home"></i></div><p>Home</p></div>
                <div class="menu-li"><div class="i"><i class="fas fa-user"></i></div><p>About</p></div>
                <div class="menu-li"><div class="i"><i class="fas fa-network-wired"></i></div><p>Portfolio</p></div>
                <div class="menu-li"><div class="i"><i class="fas fa-book"></i></div><p>Blogs</p></div>
                <div class="menu-li"><div class="i"><i class="fas fa-headset"></i></div><p>Contact</p></div>
            </div>
            <div class="copyright">© 2021 Baku
                Created by <a href="#">Bayramzadeh</a></div>
        </div>
    </div>
    <!-- nav bar end -->

    <!-- home section start-->

    <section class="home">
        <div class="home-all">
            <div class="home-img"></div>
            <div class="home-info">
                <div class="info-name"><h3>Muhammed <br> Bayramzade</h3></div>
                <div class="info-text"><p>As a creative programmer I am happy to spend most of my time writing code. I think I will improve myself in this chapter</p></div>
                <div class="info-socials">
                    <div class="i"><i class="fab fa-facebook-f"></i></div>
                    <div class="i"><i class="fab fa-instagram"></i></div>
                    <div class="i"><i class="fab fa-telegram-plane"></i></div>
                    <div class="i"><i class="fab fa-github"></i></div>
                    <div class="i"><i class="fab fa-linkedin"></i></div>
                </div>
            </div>
        </div>
    </section>

    <!-- home section end -->

    <!-- about section start -->

    <section class="about">
        <div class="about-all">
            <div class="about-img"></div>
            <div class="about-info">
                <div class="about-text1">
                    <h3>Muhammed Bayramzade & Developer</h3>
                    <p>Hello, I am a creative photographer based in New York and happy to travel all over Europe to capture your big day in candid and authentic photos. I will create a lasting memory of the people.</p>
                </div>
                <div class="about-text2">
                    <div class="about-data"><span>Birthday:</span>05.11.2201</div>
                    <div class="about-data"><span>Age:</span>20</div>
                    <div class="about-data"><span>Adress:</span>Azerbaijan, Baku</div>
                    <div class="about-data"><span>Email:</span>Bayramzade.313@gmail.ru</div>
                    <div class="about-data"><span>Phone:</span>+994705975727</div>
                    <div class="about-data"><span>Study:</span>BDRNK 4-course</div>
                    <div class="about-data"><span>Freelance:</span>Available</div>
                </div>
            </div>
        </div>
    </section>

    <!-- about section end -->

    <!-- portfolio section start -->
    <section class="portfolio">
        <div class="portfolio-all">
            
        </div>
    </section>
    <!-- portfolio section end -->

    <!-- blogs section start -->
    <section class="blogs">
        <div class="portfolio-all">

        </div>
    </section>
    <!-- blogs section end -->

    <!-- contact section  start -->
    <section class="contact">
        <div class="contact-all">
            <div class="contact-head">
                <div class="contact-div">Contact</div>
                <div class="head-text"><h3>Get in Touch</h3></div>
            </div>
            <div class="contact-inputs">
                <input type="text" placeholder="Name">
                <input type="mail" placeholder="Mail">
            </div>
            <div class="contact-textbox">
                <input type="text" placeholder="Message">
            </div>
            <div class="contact-button">
                <button class="contact-btn">Send Message</button>
            </div>
        </div>
    </section>
    <!-- contact section end -->
</body>
</html>